.forecast {
  background-color: #eee;
  font: 1rem sans-serif;
  margin: 0 auto;
  max-width: 35rem;
  padding: 0.3rem;
}

.forecast > h1,
.day-forecast {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

.day-forecast {
  background: right/contain content-box border-box no-repeat
    url(./images/weather.png) white;
  border-radius: 0.5rem;
}

.day-forecast > h2,
.day-forecast > p {
  font-size: 1rem;
  margin: 0.2rem;
}
