<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- *SEO -->
    <title>Document</title>
    <meta name="description" content="A brief description" />
    <meta name="author" content="Website Name" />
    <!-- *Linking stylesheet file -->
    <link rel="stylesheet" href="./css/layout.css" />
  </head>
  <body>
    <header>
        <!-- *Add your website name and logo here -->
    </header>
    <nav>
        <!-- *Add your website navigation here -->
    </nav>
    <main>
        <!-- *Add your main content here -->
        <p>Main</p>
    </main>
    <footer>
        <!-- *Add copyright notices and other footer content here -->
        <p>Footer</p>
    </footer>

    <!-- *Linking Js file -->
    <script src="./Js/layout.js"></script>
  </body>
</html>
