<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- *SEO -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <meta name="description" content="Demosite is using to build my skills." />
    <meta name="author" content="Demosite" />
    <!-- *Social media card -->
    <meta property="og:title" content="Demosite">
    <meta property="og:type" content="website">
    <meta property="og:image" content="logo.png">
    <meta property="og:url" content="demosite.com">
    <meta property="og:description" content="Demosite is created to sharpen my developing skills.">
    <meta property="og:locale" content="en_IN">
    <meta property="og:site_name" content="Demosite">
    <!-- *Linking stylesheet file -->
    <link rel="stylesheet" href="./css/layout.css" />
  </head>
  <body>
    <header>
        <!-- *Add your website name and logo here -->
    </header>
    <nav>
        <!-- *Add your website navigation here -->
    </nav>
    <main>
        <!-- *Add your main content here -->
        <p>Main</p>
    </main>
    <footer>
        <!-- *Add copyright notices and other footer content here -->
        <p>Footer</p>
    </footer>

    <!-- *Linking Js file -->
    <script src="./Js/layout.js"></script>
  </body>
</html>
