@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  background-color: #efefef;
  color: #393939;
}

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h3 {
  margin: 24px 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
}

#container {
  max-width: 400px;
  margin: 0 auto;
}

div.alert {
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.icon {
  margin: 8px 20px;
}

.alert__container {
  display: flex;
}

.alert__container::before {
  content: "";
  min-width: 6px;
  background-color: #0090d7;
  border-radius: 50px;
}

div.danger .alert__container::before {
  background-color: #d20d38;
}

div.warning .alert__container::before {
  background-color: #e8ac00;
}

.alert__details {
  padding: 12px 0;
}

.alert__details p {
  font-size: 14px;
  margin-bottom: 12px;
}

.alert__details p:first-child {
  font-size: 16px;
  font-weight: bold;
}

button[class*="info"] {
  color: #0090d7;
}

button[class*="danger"] {
  color: #d20d38;
}

button[class*="warning"] {
  color: #e8ac00;
}

button[disabled] {
  color: gray;
  cursor: not-allowed;
}

#container > p {
  margin-top: 40px;
  font-style: italic;
}

h3.dark-mode ~ .alert {
  color: #fff;
  background-color: #393939;
}
