@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Playfair+Display&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

nav {
  padding: 20px;
}

html {
  font-size: 20px;
}

.section {
  background-color: #140d0b;
  color: #fef6e4;

  display: flex;
  align-items: center;
  height: 100vh;
}

.bird-photo {
  width: 50%;
  height: 100%;

  object-fit: cover;
}

.side-section {
  width: 50%;
}

.about {
  margin: 0 auto;
  width: fit-content;

  padding: 20px;
  /* object-fit: cover; */
}

.author {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.about h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.about p {
  font-size: 1rem;
  max-width: 50ch;
}

.about button {
  border: none;
  background-color: #feb51c;
  color: #140d0b;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 1em 1.5em;
}
